ANTHROPIC_API_KEY=your_anthropic_api_key_here
SWIGGY_CLIENT_ID=your_swiggy_client_id
SWIGGY_CLIENT_SECRET=your_swiggy_client_secret
SWIGGY_MCP_URL=https://mcp.swiggy.com
PORT=3001
GROQ_API_KEY= GROQ_API_KEY
NINJA_API_KEY =NINJA_API_KEY
USDA_API_KEY = USDA_API_KEY
